<body>
    <img src="/assets/WoofTools-LogoText.png">
    <br>
    <br>
    <div class="row mx-2">
        <div class="col-12">
            <h1 class="heading-primary">Woofboard</h1>

            <div class="mt-5">
                <div class="row gx-3 gy-3">
                    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
                        <div class="custom-card">
                            <ul class="tokens-list">
                                <li>
                                    <div class="list-items-custom">
                                        <div class="list-item-left">
                                            <div class="active number-tag">#1</div>
                                            <img src="../../../assets/ether.png" width="20" height="20" alt="name">
                                            <p>Eth</p>
                                        </div>
                                        <div class="list-item-right">
                                            <div class="numbers text-success">$0.006940</div>
                                            <div class="numbers text-success"> 795.02% </div>
                                        </div>
                                    </div>
                                </li>

                                <li>
                                    <div class="list-items-custom">
                                        <div class="list-item-left">
                                            <div class="number-tag">#2</div>
                                            <img src="../../../assets/ether.png" width="20" height="20" alt="name">
                                            <p>Eth</p>
                                        </div>
                                        <div class="list-item-right">
                                            <div class="numbers text-success">$0.006940</div>
                                            <div class="numbers text-danger"> 795.02% </div>
                                        </div>
                                    </div>
                                </li>

                                <li>
                                    <div class="list-items-custom">
                                        <div class="list-item-left">
                                            <div class="number-tag">#3</div>
                                            <img src="../../../assets/ether.png" width="20" height="20" alt="name">
                                            <p>Eth</p>
                                        </div>
                                        <div class="list-item-right">
                                            <div class="numbers text-success">$0.006940</div>
                                            <div class="numbers text-success"> 795.02% </div>
                                        </div>
                                    </div>
                                </li>

                                <li>
                                    <div class="list-items-custom">
                                        <div class="list-item-left">
                                            <div class="number-tag">#4</div>
                                            <img src="../../../assets/ether.png" width="20" height="20" alt="name">
                                            <p>Eth</p>
                                        </div>
                                        <div class="list-item-right">
                                            <div class="numbers text-success">$0.006940</div>
                                            <div class="numbers text-success"> 795.02% </div>
                                        </div>
                                    </div>
                                </li>

                                <li>
                                    <div class="list-items-custom">
                                        <div class="list-item-left">
                                            <div class="number-tag">#5</div>
                                            <img src="../../../assets/ether.png" width="20" height="20" alt="name">
                                            <p>Eth</p>
                                        </div>
                                        <div class="list-item-right">
                                            <div class="numbers text-success">$0.006940</div>
                                            <div class="numbers text-success"> 795.02% </div>
                                        </div>
                                    </div>
                                </li>

                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 ">
                        <div class="custom-card">
                            <ul class="tokens-list">
                                <li>
                                    <div class="list-items-custom">
                                        <div class="list-item-left">
                                            <div class="active number-tag">#6</div>
                                            <img src="../../../assets/ether.png" width="20" height="20" alt="name">
                                            <p>Eth</p>
                                        </div>
                                        <div class="list-item-right">
                                            <div class="numbers text-danger">$0.006940</div>
                                            <div class="numbers text-success"> 795.02% </div>
                                        </div>
                                    </div>
                                </li>

                                <li>
                                    <div class="list-items-custom">
                                        <div class="list-item-left">
                                            <div class="number-tag">#7</div>
                                            <img src="../../../assets/ether.png" width="20" height="20" alt="name">
                                            <p>Eth</p>
                                        </div>
                                        <div class="list-item-right">
                                            <div class="numbers text-success">$0.006940</div>
                                            <div class="numbers text-success"> 795.02% </div>
                                        </div>
                                    </div>
                                </li>

                                <li>
                                    <div class="list-items-custom">
                                        <div class="list-item-left">
                                            <div class="number-tag">#8</div>
                                            <img src="../../../assets/ether.png" width="20" height="20" alt="name">
                                            <p>Eth</p>
                                        </div>
                                        <div class="list-item-right">
                                            <div class="numbers text-success">$0.006940</div>
                                            <div class="numbers text-danger"> 795.02% </div>
                                        </div>
                                    </div>
                                </li>

                                <li>
                                    <div class="list-items-custom">
                                        <div class="list-item-left">
                                            <div class="number-tag">#9</div>
                                            <img src="../../../assets/ether.png" width="20" height="20" alt="name">
                                            <p>Eth</p>
                                        </div>
                                        <div class="list-item-right">
                                            <div class="numbers text-success">$0.006940</div>
                                            <div class="numbers text-success"> 795.02% </div>
                                        </div>
                                    </div>
                                </li>

                                <li>
                                    <div class="list-items-custom">
                                        <div class="list-item-left">
                                            <div class="number-tag">#10</div>
                                            <img src="../../../assets/ether.png" width="20" height="20" alt="name">
                                            <p>Eth</p>
                                        </div>
                                        <div class="list-item-right">
                                            <div class="numbers text-success">$0.006940</div>
                                            <div class="numbers text-success"> 795.02% </div>
                                        </div>
                                    </div>
                                </li>

                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 ">
                        <div class="custom-card">
                            <ul class="tokens-list">
                                <li>
                                    <div class="list-items-custom">
                                        <div class="list-item-left">
                                            <div class="active number-tag">#1</div>
                                            <img src="../../../assets/ether.png" width="20" height="20" alt="name">
                                            <p>Eth</p>
                                        </div>
                                        <div class="list-item-right">
                                            <div class="numbers text-success">$0.006940</div>
                                            <div class="numbers text-success"> 795.02% </div>
                                        </div>
                                    </div>
                                </li>

                                <li>
                                    <div class="list-items-custom">
                                        <div class="list-item-left">
                                            <div class="number-tag">#2</div>
                                            <img src="../../../assets/ether.png" width="20" height="20" alt="name">
                                            <p>Eth</p>
                                        </div>
                                        <div class="list-item-right">
                                            <div class="numbers text-success">$0.006940</div>
                                            <div class="numbers text-danger"> 795.02% </div>
                                        </div>
                                    </div>
                                </li>

                                <li>
                                    <div class="list-items-custom">
                                        <div class="list-item-left">
                                            <div class="number-tag">#3</div>
                                            <img src="../../../assets/ether.png" width="20" height="20" alt="name">
                                            <p>Eth</p>
                                        </div>
                                        <div class="list-item-right">
                                            <div class="numbers text-success">$0.006940</div>
                                            <div class="numbers text-success"> 795.02% </div>
                                        </div>
                                    </div>
                                </li>

                                <li>
                                    <div class="list-items-custom">
                                        <div class="list-item-left">
                                            <div class="number-tag">#4</div>
                                            <img src="../../../assets/ether.png" width="20" height="20" alt="name">
                                            <p>Eth</p>
                                        </div>
                                        <div class="list-item-right">
                                            <div class="numbers text-success">$0.006940</div>
                                            <div class="numbers text-success"> 795.02% </div>
                                        </div>
                                    </div>
                                </li>

                                <li>
                                    <div class="list-items-custom">
                                        <div class="list-item-left">
                                            <div class="number-tag">#5</div>
                                            <img src="../../../assets/ether.png" width="20" height="20" alt="name">
                                            <p>Eth</p>
                                        </div>
                                        <div class="list-item-right">
                                            <div class="numbers text-success">$0.006940</div>
                                            <div class="numbers text-success"> 795.02% </div>
                                        </div>
                                    </div>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="mt-5">
                <div class="row gx-3 gy-3">
                    <h2 class="heading-primary">Hot Pairs</h2>
                    <ul class="tokens-list hot-pairs-token-list">
                       
                        <li>
                            <div class="list-items-custom">
                                <div class="list-item-left">
                                    <div class="active number-tag">#6</div>
                                    <img src="../../../assets/ether.png" width="20" height="20" alt="name">
                                    <p>Eth</p>
                                </div>
                                <div class="list-item-right">
                                    <div class="numbers text-danger">$0.006940</div>
                                    <div class="numbers text-success"> 795.02% </div>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="list-items-custom">
                                <div class="list-item-left">
                                    <div class="number-tag">#7</div>
                                    <img src="../../../assets/ether.png" width="20" height="20" alt="name">
                                    <p>Eth</p>
                                </div>
                                <div class="list-item-right">
                                    <div class="numbers text-success">$0.006940</div>
                                    <div class="numbers text-success"> 795.02% </div>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="list-items-custom">
                                <div class="list-item-left">
                                    <div class="number-tag">#8</div>
                                    <img src="../../../assets/ether.png" width="20" height="20" alt="name">
                                    <p>Eth</p>
                                </div>
                                <div class="list-item-right">
                                    <div class="numbers text-success">$0.006940</div>
                                    <div class="numbers text-danger"> 795.02% </div>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="list-items-custom">
                                <div class="list-item-left">
                                    <div class="number-tag">#9</div>
                                    <img src="../../../assets/ether.png" width="20" height="20" alt="name">
                                    <p>Eth</p>
                                </div>
                                <div class="list-item-right">
                                    <div class="numbers text-success">$0.006940</div>
                                    <div class="numbers text-success"> 795.02% </div>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="list-items-custom">
                                <div class="list-item-left">
                                    <div class="number-tag">#10</div>
                                    <img src="../../../assets/ether.png" width="20" height="20" alt="name">
                                    <p>Eth</p>
                                </div>
                                <div class="list-item-right">
                                    <div class="numbers text-success">$0.006940</div>
                                    <div class="numbers text-success"> 795.02% </div>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="list-items-custom">
                                <div class="list-item-left">
                                    <div class="active number-tag">#6</div>
                                    <img src="../../../assets/ether.png" width="20" height="20" alt="name">
                                    <p>Eth</p>
                                </div>
                                <div class="list-item-right">
                                    <div class="numbers text-danger">$0.006940</div>
                                    <div class="numbers text-success"> 795.02% </div>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="list-items-custom">
                                <div class="list-item-left">
                                    <div class="number-tag">#7</div>
                                    <img src="../../../assets/ether.png" width="20" height="20" alt="name">
                                    <p>Eth</p>
                                </div>
                                <div class="list-item-right">
                                    <div class="numbers text-success">$0.006940</div>
                                    <div class="numbers text-success"> 795.02% </div>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="list-items-custom">
                                <div class="list-item-left">
                                    <div class="number-tag">#8</div>
                                    <img src="../../../assets/ether.png" width="20" height="20" alt="name">
                                    <p>Eth</p>
                                </div>
                                <div class="list-item-right">
                                    <div class="numbers text-success">$0.006940</div>
                                    <div class="numbers text-danger"> 795.02% </div>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="list-items-custom">
                                <div class="list-item-left">
                                    <div class="number-tag">#9</div>
                                    <img src="../../../assets/ether.png" width="20" height="20" alt="name">
                                    <p>Eth</p>
                                </div>
                                <div class="list-item-right">
                                    <div class="numbers text-success">$0.006940</div>
                                    <div class="numbers text-success"> 795.02% </div>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="list-items-custom">
                                <div class="list-item-left">
                                    <div class="number-tag">#10</div>
                                    <img src="../../../assets/ether.png" width="20" height="20" alt="name">
                                    <p>Eth</p>
                                </div>
                                <div class="list-item-right">
                                    <div class="numbers text-success">$0.006940</div>
                                    <div class="numbers text-success"> 795.02% </div>
                                </div>
                            </div>
                        </li>


                        <li>
                            <div class="list-items-custom">
                                <div class="list-item-left">
                                    <div class="active number-tag">#6</div>
                                    <img src="../../../assets/ether.png" width="20" height="20" alt="name">
                                    <p>Eth</p>
                                </div>
                                <div class="list-item-right">
                                    <div class="numbers text-danger">$0.006940</div>
                                    <div class="numbers text-success"> 795.02% </div>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="list-items-custom">
                                <div class="list-item-left">
                                    <div class="number-tag">#7</div>
                                    <img src="../../../assets/ether.png" width="20" height="20" alt="name">
                                    <p>Eth</p>
                                </div>
                                <div class="list-item-right">
                                    <div class="numbers text-success">$0.006940</div>
                                    <div class="numbers text-success"> 795.02% </div>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="list-items-custom">
                                <div class="list-item-left">
                                    <div class="number-tag">#8</div>
                                    <img src="../../../assets/ether.png" width="20" height="20" alt="name">
                                    <p>Eth</p>
                                </div>
                                <div class="list-item-right">
                                    <div class="numbers text-success">$0.006940</div>
                                    <div class="numbers text-danger"> 795.02% </div>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="list-items-custom">
                                <div class="list-item-left">
                                    <div class="number-tag">#9</div>
                                    <img src="../../../assets/ether.png" width="20" height="20" alt="name">
                                    <p>Eth</p>
                                </div>
                                <div class="list-item-right">
                                    <div class="numbers text-success">$0.006940</div>
                                    <div class="numbers text-success"> 795.02% </div>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="list-items-custom">
                                <div class="list-item-left">
                                    <div class="number-tag">#10</div>
                                    <img src="../../../assets/ether.png" width="20" height="20" alt="name">
                                    <p>Eth</p>
                                </div>
                                <div class="list-item-right">
                                    <div class="numbers text-success">$0.006940</div>
                                    <div class="numbers text-success"> 795.02% </div>
                                </div>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>

            
            <div class="mt-5">

                <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

                    <ng-container matColumnDef="pairInfo">
                        <th mat-header-cell *matHeaderCellDef> Pair Info </th>
                        <td mat-cell *matCellDef="let element">
                            <div class="pair-info">
                                <div class="pair-info-inner">
                                    <div class="avatar">
                                        <p>{{ generateAvatarInitials(element.pairInfo.token0Name) }}</p>
                                    </div>
                                    <img src="../../../assets/uniswap.png" width="20px" height="20" alt="text">
                                </div>

                                <div>
                                    <div>
                                        {{element.pairInfo.token0Name}} / {{element.pairInfo.token1Name}}
                                    </div>
                                    <div>
                                        {{element.pairInfo.pairAddress}}
                                    </div>
                                </div>
                            </div>

                            <!-- {{ element.pairInfo.token0Name }}   -->
                        </td>
                      </ng-container>
                    
                      <!-- Listed Since Column -->
                      <ng-container matColumnDef="price">
                        <th mat-header-cell *matHeaderCellDef> Price </th>
                        <!-- {{  }} -->
                        <td mat-cell *matCellDef="let element"> {{element.price}}</td>
                      </ng-container>
                    
                      <!-- Listed Since Column -->
                      <ng-container matColumnDef="percentage24H">
                        <th mat-header-cell *matHeaderCellDef> %24h </th>
                        <td mat-cell *matCellDef="let element"> 
                            <div [ngClass]="{
                                'text-danger': element.percentage24H < 0,
                                'text-success': element.percentage24H >= 0
                              }">
                                {{ element.percentage24H }} % 
                            </div>
                        </td>
                      </ng-container>
                       <!-- Listed Since Column -->
                       <ng-container matColumnDef="score">
                        <th mat-header-cell *matHeaderCellDef>  Score </th>
                        <td mat-cell *matCellDef="let element"> 
                            <div  class="progress-value-container">
                                
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 90 60" width="90" height="60">
                                    <linearGradient x1="0" y1="0" x2="0" y2="100%" id="gradient_0x40a8003ea28e518c6e63b1b61ce15623557fed25" class="ng-star-inserted">
                                      <stop offset="0%" stop-color="#008A00"></stop>
                                      <stop offset="40%" stop-color="#008A00"></stop>
                                    </linearGradient>
                                    <path d="M 8.169 40 A 31.831,31.831 0, 0, 1 71.831 40" fill="none" class="muted"></path>
                                    <path fill="none" d="M 8.169 40 A 31.831,31.831 0, 0, 1 71.831 40" class="dext-value" id="dextValue_0x40a8003ea28e518c6e63b1b61ce15623557fed25" stroke="url(#gradient_0x40a8003ea28e518c6e63b1b61ce15623557fed25)" style="stroke-dashoffset: 15; stroke-width: 5; stroke-dasharray: 150;"></path>
                                  </svg>
                                  
                                                                    
                                <div  class="dext-value"> {{ element.score }}  </div>
                             </div>
                        </td>
                      </ng-container>

                       <!-- Listed Since Column -->
                       <ng-container matColumnDef="contracts">
                        <th mat-header-cell *matHeaderCellDef> Contract </th>
                        <td mat-cell *matCellDef="let element"> {{ element.contracts }} </td>
                      </ng-container>


                       <!-- Listed Since Column -->
                       <ng-container matColumnDef="created">
                        <th mat-header-cell *matHeaderCellDef> Created </th>
                        <td mat-cell *matCellDef="let element"> 
                            
                            {{ getTimeElapsed(element.created) }}
                         </td>
                      </ng-container>

                      <ng-container matColumnDef="volume">
                        <th mat-header-cell *matHeaderCellDef> Volume </th>
                        <td mat-cell *matCellDef="let element"> {{ element.volume }} </td>
                      </ng-container>


                       <!-- Listed Since Column -->
                       <ng-container matColumnDef="swaps">
                        <th mat-header-cell *matHeaderCellDef> Swaps </th>
                        <td mat-cell *matCellDef="let element"> {{ element.swaps }} </td>
                      </ng-container>


                      <ng-container matColumnDef="liquidity">
                        <th mat-header-cell *matHeaderCellDef> Liquidity </th>
                        <td mat-cell *matCellDef="let element"> {{ element.liquidity }} </td>
                      </ng-container>

                      <ng-container matColumnDef="TMCap">
                        <th mat-header-cell *matHeaderCellDef> T.M.Cap </th>
                        <td mat-cell *matCellDef="let element"> {{ element.TMCap }} </td>
                      </ng-container>

                      <ng-container matColumnDef="Dex">
                        <th mat-header-cell *matHeaderCellDef> Dex </th>
                        <td mat-cell *matCellDef="let element">

                            <div class="dex-info">
                                <div class="dex-info-inner">
                                    <img src="../../../assets/uniswap.png" alt="" width="35" height="35">
                                </div>

                                <div class="dex-exchange">
                                    <img src="../../../assets//ether.png" alt="" width="20" height="20">
                                </div>
                            </div>
                        </td>
                      </ng-container>

                      <!-- Actions Column -->
                      <ng-container matColumnDef="actions">
                        <th mat-header-cell *matHeaderCellDef> Actions </th>
                        <td mat-cell *matCellDef="let element">
                         <div class="d-flex">

                             <i class="material-icons">analytics</i>
                            
                             <i class="material-icons">star_outline</i>

                         </div>
                        </td>
                      </ng-container>


                      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                  </table>

                <!-- <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

         
                    <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column">
                      <th mat-header-cell *matHeaderCellDef>{{ column }}</th>
                      <td mat-cell *matCellDef="let element">{{ element[column] }}</td>
                    </ng-container>
                  
               
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                  </table> -->
                  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>                  
            </div>
            
        </div>
    </div>
</body>