<a href="https://www.wooftools.io/" class="box title"> <img src="/assets/WoofTools-Logo.png"> <span
        style="font-weight: 800;color: white;">WOOFtools</span></a>

<a href="woofboard" class="box"> <mat-icon>home</mat-icon> <span>WOOFboard</span></a>

<a href="pair_explorer" class="box building"> <mat-icon>dashboard</mat-icon> <span>Pair Explorer</span></a>
<a href="live-pair" class="box building"> <mat-icon>rocket_launch</mat-icon> <span>Live New Pairs</span></a>
<a href="big_swap_explorer" class="box building"> <mat-icon>currency_exchange</mat-icon> <span>Big Swap
        Explorer</span></a>
<a href="multichart" class="box building"> <mat-icon>window</mat-icon> <span>MultiChart</span></a>
<a href="multiswap" class="box building"> <mat-icon>data_saver_on</mat-icon> <span>MultiSwap</span></a>
<a href="stats" class="box building"> <mat-icon>pie_chart</mat-icon> <span>Stats</span></a>
<a href="wallet_info" class="box building"> <mat-icon>account_balance_wallet</mat-icon> <span>Wallet Info</span></a>
<a href="products" class="box building"> <mat-icon>add_circle</mat-icon> <span>Products</span></a>

<a class="box"> <span> Extra </span></a>
<a href="https://t.me/woof_tools/" class="box"> <i class="bi bi-telegram"></i> <span>Telegram</span></a>
<a href="https://twitter.com/woof_tools/" class="box"> <i class="bi bi-twitter"></i> <span>Twitter</span></a>
<a href="https://medium.com/@woof-tools/" class="box"><i class="bi bi-medium"></i> <span>Medium</span></a>
<a href="https://www.instagram.com/woof_tools/" class="box"><i class="bi bi-instagram"></i><span>Instagram</span></a>
<a href="https://www.wooftools.io/" class="box"><i class="bi bi-globe"></i> <span>WoofTools.io</span></a>