<div style="padding-top: 10px;">
    <p
        style="text-align: center;font-size:x-small;color: rgb(129, 142, 163);margin-left: 30px;margin-right:30px;margin-bottom: 0;">
        All content available on our website, on hyperlinked websites, and on applications, forums, blogs, social media
        accounts and other platforms associated with WoofTools is intended solely to provide you with general
        information. We make no warranties of any kind with respect to our content, including, but not limited to, the
        accuracy and currency of the information. None of the content we provide should be construed as financial, legal
        or any other type of advice on which you may specifically rely for any purpose. Any use or reliance you place on
        our content is solely at your own risk. What you should do is conduct your own research, review and analysis,
        and verify our content before relying on it. Trading is a high-risk activity that can result in significant
        losses, so you should consult with your financial advisor before making any decisions. Nothing on our Site
        should be considered an invitation or offer to take any action
    </p>
</div>
<div style="text-align:end;color: rgb(129, 142, 163); padding-right: 15px;padding-bottom: 10px;padding-top: 15px;">
    <span>
        Woof Tools 2023 © All Rights Reserved | Powered by
        <a href="https://hu1a1a.github.io/YK-Web-Studio/">YK Web Service</a>
    </span>
</div>