<div class="row" style="padding-top: 10px">
  <div class="col-1" style="width: 3%"></div>
  <div class="col-xs-7col-sm-12 col-md-7 col-lg-7">
    <h2>Trade and Earn, Crypto LIVE.</h2>
    <h3>
      WOOFTools is an app for traders, to track the price of crypto currencies
      and their DEFI world portfolio on all decentralized markets.
    </h3>
    <h4>By integrating Blockchain data into a unified user interface.</h4>
    <h5>
      Calling all WoofToolers Want to work from your own kennel and earn crypto?
      <br />
      Become a WoofsTooler and be your own Top Dog! Pre-registration is now open
      with $WOOFS Drop for the first lucky doggos.
    </h5>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
    <h3>Follow us on social media!</h3>
    <h5>
      Follow us on social media and find all you need to know about crypto
      world!
    </h5>
    <table style="width: 100%">
      <tbody>
        <tr>
          <td>
            <a href="https://www.wooftools.io/"
              ><i class="bi bi-globe"></i> <span>Website</span></a
            >
          </td>
          <td>
            <a href="https://twitter.com/woof_tools/">
              <i class="bi bi-twitter"></i> <span>Twitter</span></a
            >
          </td>
          <td>
            <a href="https://t.me/woof_tools/">
              <i class="bi bi-telegram"></i> <span>Telegram</span></a
            >
          </td>
        </tr>
        <tr>
          <td>
            <a href="https://medium.com/@woof-tools/">
              <i class="bi bi-medium"></i> <span>Medium</span></a
            >
          </td>
          <td>
            <a href="https://www.instagram.com/woof_tools/"
              ><i class="bi bi-instagram"></i><span>Instagram</span></a
            >
          </td>
          <td>
            <a href="https://www.tiktok.com/@wooftools/"
              ><i class="bi bi-tiktok"></i><span>Tiktok</span></a
            >
          </td>
        </tr>
        <tr>
          <td>
            <a href="https://m.youtube.com/@woof_tools/"
              ><i class="bi bi-youtube"></i><span>YouTube</span></a
            >
          </td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-1" style="width: 3%"></div>
  <div class="col-11">
    <p
      style="text-align: center; font-size: x-small; color: rgb(129, 142, 163)"
    >
      All content available on our website, on hyperlinked websites, and on
      applications, forums, blogs, social media accounts and other platforms
      associated with WoofTools is intended solely to provide you with general
      information. We make no warranties of any kind with respect to our
      content, including, but not limited to, the accuracy and currency of the
      information. None of the content we provide should be construed as
      financial, legal or any other type of advice on which you may specifically
      rely for any purpose. Any use or reliance you place on our content is
      solely at your own risk. What you should do is conduct your own research,
      review and analysis, and verify our content before relying on it. Trading
      is a high-risk activity that can result in significant losses, so you
      should consult with your financial advisor before making any decisions.
      Nothing on our Site should be considered an invitation or offer to take
      any action
    </p>
  </div>
</div>
<div
  class="row"
  style="
    text-align: end;
    color: rgb(129, 142, 163);
    padding-right: 15px;
    padding-bottom: 10px;
    padding-top: 15px;
  "
>
  <div class="col-1" style="width: 3%"></div>
  <div class="col-11">
    <span>
      WoofTools.io 2023 © All Rights Reserved | Powered by
      <a href="https://hu1a1a.github.io/YK-Web-Studio/">YK Web Service</a>
    </span>
  </div>
</div>
