.ldshFy,
.ecXsVw,
.sc-iTFTee  {
    background-color: #131f26 !important;
    color: #fff !important;
}

.jAwVIF,
.sc-pyfCe,
.sc-bBABsx,
.sc-jSUZER ,
.sc-ksBlkl,
.sc-dwnOUR,
.sc-cwSeag
{
  background-color: #26323c !important;
  color: #fff !important;
}

.mSPeV {
    width: 144px !important;
}
.sc-kDvujY {

}
.fRgKhl {
    justify-content: center !important;
}
.sc-ipEyDJ {
    display: none !important;
}
.iRSPuW,
.sc-dIfARi,
.sc-ezOQGI {
  border: 1px solid #00b8d8 !important;
}
.sc-iTFTee {
   background-color:  #0b1217 !important ;
}
.sc-iAEawV,
.sc-cabOPr,
.sc-cUEOzv {
    background-color: #26323c !important;
    color: #fff !important;
}
.sc-cUEOzv {
    color: #fff !important;
}
.sc-cUEOzv input{
    color: #fff !important;
}
.sc-ezOQGI,.sc-ezOQGI , .sc-bYMpWt {
    color: #fff !important;
}
.sc-csuSiG {
    background-color: #00b8d8 !important;
    color: #fff !important;
}